!!! 5
%html{lang: 'en'}
  %head
    %title Marionette/Rails Sample App
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'msapplication-config', content: 'none'}
    = favicon_link_tag
    = favicon_link_tag 'favicon.ico', rel: 'apple-touch-icon', type: 'image/png'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    #header-region.jumbotron
      .container
        %h1 Marionette/Rails Sample App
        %p This is a sample app to show how to use Backbone.js and Marionette.js with Rails to make a web application with a rich client experience.

    #content-region.container
      = yield
    :coffeescript
      window.App.start()
